body{
	background-color: #CCC;
	color: #444;
	font-family: Arial;
}
#table {
	
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;

}
#table tr td {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #AAA;
}
@media screen and (min-width: 780px) {
    .test {
        float:left;
        margin-left: 200px;
    }
    #countrylist {
    clear: both;
    display:block;}
}
table tr:hover {
	background-color: #FFF;
}
h2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}